/* =====================
   Navbar Base
===================== */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(135deg, #000, #111);
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


/* Logo */
.logo a {
  font-size: 22px;
  font-weight: 800;
  color: #0c831f;
  text-decoration: none;
  letter-spacing: 0.5px;
}

/* Menu Button (Mobile) */
.menu-btn {
  display: none;
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

/* =====================
   Links
===================== */
.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #0c831f;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #0c831f;
}

.nav-links a:hover::after {
  width: 100%;
}

/* =====================
   Mobile Responsive
===================== */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: #111;
    flex-direction: column;
    /* align-items: center; */
    gap: 18px;
    padding: 20px 20px;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
